// @tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #1320ae;
$primary-light: #394aff;
$secondary: #ffb800;
$secondary-light: #fff1cc;
$backdrop: #f3f6fb;
$background: #ffffff;

@layer components {
  .safe-area {
    @apply w-full max-w-[1400px] mx-auto;
  }

  @media (max-width: 640px) {
    .safe-area {
      @apply px-4;
    }
  }

  .with-icon {
    @apply flex gap-2 items-center;
  }

  .text-primary {
    color: $primary;
  }
  .text-primary-light {
    color: $primary-light;
  }
  .text-secondary {
    color: $secondary;
  }
  .text-secondary-light {
    color: $secondary-light;
  }
  .text-backdrop {
    color: $backdrop;
  }

  .bg-default {
    background-color: $background;
  }

  .bg-primary {
    background-color: $primary;
  }
  .bg-primary-light {
    background-color: $primary-light;
  }
  .bg-secondary {
    background-color: $secondary;
  }
  .bg-secondary-light {
    background-color: $secondary-light;
  }
  .bg-backdrop {
    background-color: $backdrop;
  }

  .border-default {
    @apply border border-solid border-gray-100;
  }

  .grid-wrap {
    @apply grid sm:grid-cols-2 lg:grid-cols-4;
  }
}

main {
  @apply min-h-[calc(100svh-5rem)];
}

// FORM
.form-label {
  @apply text-xs font-semibold;
}

.form-description {
  @apply text-xs text-gray-400;
}
